==
{%set pageData = page.record%}
{%set banner = pageData.banner%}
{%if banner.type=='complex'%}
<div class="hero-wrap js-fullheight" style='background-image: url({{banner.image|media}});'>
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
             data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><strong>{{banner.title}}
                    <br></strong> {{banner.sub_title}}</h1>
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{banner.description|raw}}</p>
                <div class="block-17 my-4">
                    <form action="#" method="post" class="d-block d-flex">
                        <div class="fields d-block d-flex">
                            <div class="textfield-search one-third">
                                <input type="text" class="form-control" placeholder="Ex: food, service, hotel">
                            </div>
                            <div class="select-wrap one-third">
                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                <select name="" id="" class="form-control" placeholder="Keyword search">
                                    <option value="">Where</option>
                                    <option value="">San Francisco USA</option>
                                    <option value="">Berlin Germany</option>
                                    <option value="">Lodon United Kingdom</option>
                                    <option value="">Paris Italy</option>
                                </select>
                            </div>
                        </div>
                        <input type="submit" class="search-submit btn btn-primary" value="Search">
                    </form>
                </div>
                <p>{{banner.short_description|raw}}</p>
                <p class="browse d-md-flex">
                    {%for link in banner.links%}
                    <span class="d-flex justify-content-md-center align-items-md-center">
                        <a href="#" class="call-to-action" data-link='{{link|json_encode}}'
                           data-tooltip="{{link.tooltip}}" data-media="{{link.media|media}}"
                           data-image="{{link.image|media}}">
                            <i class="flaticon-fork"></i>{{link.title}}
                        </a>
                    </span>
                    {%endfor%}
                </p>
            </div>
        </div>
    </div>
</div>
{%elseif banner.type == "simple"%}
<div class="hero-wrap js-fullheight" style="background-image: url({{banner.image|media}});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    <!--<span class="mr-2"><a href="index-2.html">Home</a></span> <span>Tour</span></p>-->
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{banner.title}}</h1>
            </div>
        </div>
    </div>
</div>
{%endif%}