==
<section class="ftco-section services-section bg-light {{section.section_type}}">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-md-5 heading-section ftco-animate">
                <span class="subheading">{{section.title}}</span>
                <h2 class="mb-4 pb-3">{{section.sub_title|raw}}</h2>
                {%set whyUs = section.whyus_elements[0]%}
                {{whyUs.description}}
                <p><a href="#" class="btn btn-primary btn-outline-primary mt-4 px-4 py-3">Read more</a></p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 heading-section ftco-animate">
                <span class="subheading">{{whyUs.testimony_title}}</span>
                <h2 class="mb-4 pb-3">{{whyUs.testimony_description|raw}}</h2>
                <div class="row ftco-animate">
                    <div class="col-md-12">
                        <div class="carousel-testimony owl-carousel">
                            {%for slide in whyUs.slides%}
                            <div class="item">
                                <div class="testimony-wrap d-flex">
                                    <div class="user-img mb-5"
                                         style="background-image: url({{slide.image|media}})">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                         </span>
                                    </div>
                                    <div class="text ml-md-4">
                                        {{slide.description|raw}}
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>